@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6s6d3k');
    src:    url('../fonts/icomoon.eot?6s6d3k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6s6d3k') format('truetype'),
        url('../fonts/icomoon.woff?6s6d3k') format('woff'),
        url('../fonts/icomoon.svg?6s6d3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
  box-sizing: border-box;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


table {
  width: 100%;
}

th {
  background: #273b47;
  color: white;
}

th {
  padding: 10px 20px;
  text-align: left;
}

td {
  padding: 20px;
}

table, td, th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;
}
.fondo{
  box-sizing: border-box;
  height: 100%;
}
.contenedor {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.background {
  background: url('../images/background2x.png');
  background-size: cover;
}
.background .fondo{
    padding: 20px;
    background:rgba(0,0,0,.3);
}

.button {
  border-radius: 12px;
  border: none;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: rgba(0,102,153,1);
  background: -moz-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,102,153,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,102,153,1)), color-stop(53%, rgba(0,153,255,1)), color-stop(53%, rgba(0,153,255,1)), color-stop(53%, rgba(0,153,255,1)), color-stop(100%, rgba(0,102,153,1)));
  background: -webkit-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,102,153,1) 100%);
  background: -o-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,102,153,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,102,153,1) 100%);
  background: linear-gradient(to right, rgba(0,102,153,1) 0%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,153,255,1) 53%, rgba(0,102,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#006699', GradientType=1 );
}
.button:hover, .button a:hover{
  transform: scale(1.1);
  background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); 
}
.titulo {
  font-family: 'Bitter', sans-serif;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 70px;
}

.titulo span {
  text-decoration: underline;
}

.title-a {
  font-size: 24px;
  margin-top: 0;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}

.seccion {
  color: #212F3D;
  margin-bottom: 60px;
}

.seccion h2 {
  font-family: 'Bitter', sans-serif;
  font-size: 35px;
}
.seccion p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
p a{
  text-decoration: none;
  font-weight: bold;
  color: #212F3D;
  border-bottom: 2px solid #212F3D;

}
.banner-1{
  background: url(../images/center-background.png);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;

}
.banner-1 h1{
  background: rgba(0,0,0,.3);
  color: #fff;
  font-family: 'Bitter';
  font-size: 40px;
  height: 100%;
  padding-top: 3.5em;

}
.banner-1 a{
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #fff;

}


.portada {

  color: white;
  height: 500px;
}

.portada button {
  margin-bottom: 70px;
}


.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu li:before{
  /*content: 'â';
  font-size: 40px;
  line-height: 20px;
  color: white;*/
}
.menu a:hover{
  color: rgb(120,222,255);
}

.menu a {
  color: white;
  text-decoration: none;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}
#logo:hover, #logo-footer:hover {
  transform: scale(0.8);
}


.dinosaurio {
  margin: 10px 10px 40px 10px;
  padding: 10px;
  /*overflow: hidden;*/
  border: 1px solid #1F313C;
  border-radius: 8px;
}
.dinosaurio ol {
  padding: 0;
}
.dinosaurio img:hover{
  transform: scale(1.01) translateZ(50px);
}
.dinosaurio.b {
  height: 190px;
}


.derecha {
  float: right;
  position: relative;
  top: -127px;
}

.izquierda {
  float: left;
  position: relative;
}

.contenedor-dinosaurio-a {
  padding-left: 20px;
}
.contenedor-dinosaurio-b {
  margin-left: 370px;
  position: relative;
  bottom: 90px;

}

.header {
  position: relative;
}


.footer {
  /*background: #006699;*/
  background-image: url('../images/footer-background.png');
  
  background-size: cover;
  
}

.footer .fondo{
  background: rgba(0,0,0,.3);
  padding: 50px 10px;
}
.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto img {
  display: block;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.footer .contenedor {
  justify-content: space-between;
  display: flex;
}


.formulario {
  display: flex;
  width: 400px;
  color: white;
}


.col1, .col2 {
  display: flex;
  flex-direction: column;
}

.col1 {
  margin-right: 15px;
}
.col2 {
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px;
}

.intereses label {
  font-size: 12px;
}

.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}


.sexo {
  margin-top: 10px;
}


.tabla {
  margin: 50px 0;
}


.burguer-button {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: rgba(0,102,153,.5);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  color: white;
  z-index: 3;
  display: none;
}

.video-demo {
  max-width: 500px;
  width: 100%;
  border: 5px solid #3c5b6e;
}

.video-demo-contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.QR{
    background-image: url(../images/Referencias/qr_big.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .Mapa{
    background-image: url(../images/Referencias/mapa.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
/*DiseĂąo video*/
.video-responsive-contenedor {
  position: relative;
  padding-top: 56.25%;
}

.video-responsive-src {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.contenedor-columnas{
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}
.servicios{
  display: flex;
  flex-direction: column;
}
.columnasx3 i{
  padding-right: 20px;
  color: #444;
}
.columnasx3 h4{
  padding-bottom: 20px;
}
.columnasx3{
  padding: 20px 20px;
  box-sizing: border-box;
  margin: auto;
}
.columnasx3 img{
  width: 100%;

}
.tabla-planes{
  width: 100%;
  margin:auto;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}
.tablax4{
  width: 33.33%;
  margin-top: 20px;
  background: url(../images/planes_background.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
.tablaxd{
  width: 33.33%;
  margin-top: 10px;
  background: url(../images/planes_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.caja-precio{
  border: 1px solid #5c6552;
  background: rgba(48,20,60,.6);
  height: 100%;
}
.icono-precio{
  color: #85c34a;
  padding-top: 20px;
  font-size: 3em;
  padding-bottom: 10px;
}
.caja-precio h4{
  color:#fff;
}
.precio-1{
  color: #85c34a;
  font-size: 50px;
  font-weight: bold;
}
.dolar{
  font-size: 20px;
  vertical-align: super;
}
.mes{
  font-size: 10px;
  color:rgb(200,200,200);
  vertical-align: text-bottom;
}
.lista-precios{
  list-style: none;
  padding: 20px 0;
  color:rgb(210,210,210);
  padding-bottom: 50px;
}
.tablaxd .lista-precios{
  color:rgb(100,100,100);
}
.tablaxd .mes{
  color:rgb(70,70,70);
}
.lista-espacios{
  padding: 0.25em;
  font-size: 15px;
}
.boton-contratar{
  margin-bottom: 25px;
}
.contratar-a{
  background: #85c34a;
  text-decoration: none;
  color:#fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 40px; 
  letter-spacing: 1px;
  width: 90%;
}
.contratar-a:hover{
  background: #777;
}
.destacado{
  background-color: rgba(255,255,255,.6);
  box-shadow: 0 0 8px rgba(0,0,0,0.9);
  z-index: 500;
}
.destacado h4{
  color:#30353c;
  font-size: 30px;
}
.destacado .icono-precio{
  font-size: 4em;
}
.destacado .contratar-a{
  background:#30353c;
}
.destacado .contratar-a:hover{
  background:#777;
}
.fa-star{
  color:#30353c;
}
/*DiseĂąo responsive*/
@media screen and (max-width: 950px) {
  .red{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  
  .tabla {
    margin: 50px 20px;
  }
  .tabla .contenedor {
    overflow: auto;
    border: 1px solid #273b47;
  }
  .titulo {
    font-size: 45px;
    margin-top: 30px;
  }
  .title-a {
    font-size: 18px;
  }
  .portada {
    height: auto;
  }
  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }

  .video-demo-contenedor {
    margin-bottom: 30px;
  }
  .seccion {
    text-align:center;
  }
  .izquierda, .derecha {
    float: none;
    position: static;
  }
  .title-b {
    margin: 0;
  }
  .dinosaurio li {
    list-style: none;
  }
  .dinosaurio.b {
    height: auto;
  }
  .contenedor-dinosaurio-b {
    position: static;
    margin: 0;
  }
  .contenedor-dinosaurio-a {
    padding: 0;
  }

}

@media screen and (max-width: 780px) {
  /* footer */
  .footer .contenedor {
    display: block;
  }

  .contacto {
    margin: 0 auto;
  }
  .formulario {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .intereses label {
    display: block;
    font-size: 16px;
  }
  .col1 {
    margin: 0;
  }
  input[type="text"],
  input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }
  textarea {
    width: 100%;
  }
  input[type="radio"],
  input[type="checkbox"] {
    zoom: 1.5;
  }
  /* footer */
}

@media screen and (max-width: 710px) {
  .QR{
    background-image: url(../images/Referencias/qr_medium.png);
    width: 350px;
    height: 350px;
  }
  .Mapa{
    background-image: url(../images/Referencias/mapa-medium.png);
    width: 300px;
    height: 300px;
  }
  .header {
    text-align: center;
  }

  .logotipo {
    margin: 0;
  }

  .menu {
    position: static;
    display: block;
  }

  .menu li:first-child {
    margin: 0;
  }

  .menu ul {
    padding: 0;
  }
  .background {
    background: url('../images/background-medium.png');
  }
  .background .fondo{
    background:rgba(0,0,0,.3);
  }
  .banner-1{
    background: url(../images/center-background-medium.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .contenedor-columnas{
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 500px) {
  .QR{
    background-image: url(../images/Referencias/qr_medium.png);
    width: 250px;
    height: 250px;
  }
  .Mapa{
    background-image: url(../images/Referencias/mapa-medium.png);
    width: 300px;
    height: 300px;
  }
  /* portada */
  .portada .button {
    display: block;
  }
  .precios .header .logotipo {
    margin: 50px 0;
  }
  .burguer-button {
    display: block;
  }
  .portada .contenedor {
    position: static;
  }
  .header {
    position: static;
  }
  .header .contenedor {
    position: static;
  }
  .menu {
    position: fixed;
    background: rgba(0,102,153,.8);
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s;
  }
  .menu.active {
    left: 0;
  }

  .menu ul {
    flex: 1;
  }
  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }

  .menu li:before {
    display: none;
  }

  .menu li:first-child {
    border-top: 1px solid white;
  }
  .portada {
    text-align: center;
  }
  .titulo {
    font-size: 30px;
  }

  .title {
    font-size: 16px
  }
  .dinosaurio img {
    width: 200px;
  }
  .title-b {
    font-size: 30px;
  }
  .video-demo-contenedor {
    margin: 0 10px 30px 10px;
  }
  .col2 {
    align-items: stretch;
  }
  .background {
    background: url('../images/background-min.png');
  }
  .background .fondo{
    background:rgba(0,0,0,.4);
  }
  .banner-1 h1{
    font-size: 25px;
    padding-top: 6.5em;
  }
  .banner-1{
    background: url(../images/center-background-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .tablax4{
    width: 100%;
  }
  .tablaxd{
    width: 100%;
  }
  .tabla-planes{
    display: flex;
    flex-direction: column;
  }
  .contratar-a{
    padding: 10px 100px; 
  }
  .destacado .icono-precio{
    font-size: 8em;
  }
  .lista-espacios{
    font-size: 25px;
  }
  .precio-1{    
    font-size: 60px;
  }
  .dolar, h4{
    font-size: 40px;
  }
  .mes{
    font-size: 20px;
  }
  .icono-precio{
    font-size: 5em;
  }
}
@media screen and (max-width: 330px){
  .formulario {
    display: block;
    margin: 0 auto;
    width: 220px;
  }
  .contacto {
    width: 220px;
  }
  .contratar-a{
    padding: 10px 70px; 
  }
}
/*@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .background {
    background-image: url('../images/background2x.png');
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 710px) {
  .background {
    background-image: url('../images/background2x-medium.png');
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .background {
    background-image: url('../images/background2x-min.png');
  }
}*/

video {
  width: 100%;
}

.red{
  position: fixed;
  top: 200px;
  z-index: 100;
  left: 0;
}
#facebook a{
  background: #3b5998;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  width: 55px;
  transition: all .4s ease;
}
#facebook a:hover{
  background: #000;
  padding: 10px 50px;
}
#youtube a{
  background: #bb0000;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  width: 55px;
  transition: all .4s ease;
}
#youtube a:hover{
  background: #000;
  padding: 10px 50px;
}
#twitter a{
  background: #55acee;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  width: 55px;
  transition: all .4s ease;
}
#twitter a:hover{
  background: #000;
  padding: 10px 50px;
}
#correo a{
  background: #e95950;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  width: 55px;
  transition: all .4s ease;
}
#correo a:hover{
  background: #000;
  padding: 10px 50px;
}





